/*
Colores:

Rosa: #ff01a5
Amarillo: #e5f306
Naranja: #f47700
Azul: #294493
morado: #860a78


*/
@font-face {
    font-family: 'MiFuente';
    src: url('ruta/a/mifuente.ttf');
  }  
html.darkmode{
    filter: invert(100%);
}
/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #f47700;
    font-style: bold;
    color: white;
    border-radius: 0.5rem;
    height: 60px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.izq-box, .center-box, .der-box{
    display: inline-block;
}

.izq-box{
    margin-right: auto;
    padding: 4px;
}

.der-box{
    margin-left: auto;
    padding: 4px;
}
.center-box{
    margin: 8px;
}

/* Estilos para los enlaces */
  a {
    color: #294493;
    text-decoration: none;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  




  .tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
  }
  
  .tarjeta-producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .tarjeta-producto h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .tarjeta-producto p {
    margin-bottom: 10px;
  }
  
  .tarjeta-producto .precio {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .tarjeta-producto .btn-comprar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .tarjeta-producto .btn-comprar:hover {
    background-color: #3e8e41;
  }
  